#wrapper h1{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 1px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12);
}
#wrapper h2{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 1px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12);
}
#wrapper h3{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 1px 1px rgba(0,0,0,.1),
               0 0 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.1),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12),
               0 1px 1px rgba(0,0,0,.12);
}
#wrapper h4{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 0px 1px rgba(0,0,0,.01),
               0 0 1px rgba(0,0,0,.01),
               0 0px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01);
}
#wrapper h5{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 0px 1px rgba(0,0,0,.01),
               0 0 1px rgba(0,0,0,.01),
               0 0px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01);
}
#wrapper li{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 0px 1px rgba(0,0,0,.01),
               0 0 1px rgba(0,0,0,.01),
               0 0px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01);
}
#wrapper p{
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 0px 1px rgba(0,0,0,.01),
               0 0 1px rgba(0,0,0,.01),
               0 0px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01),
               0 1px 1px rgba(0,0,0,.01);
}